html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;

  div.header {
    width: 100vw;
    height: 7.5vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;

    .left {
      margin-left: 2%;
      margin-right: auto;

      span.logo {
        font-family: "Gaegu", sans-serif;
        font-size: 200%;
      }

      a {
        text-decoration: none;
        color: white;
        margin-left: 25px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        transition: .2s;
        &:hover {
          color: red;
        }
      }
    }
  }

  div.content {
    flex: 1;
    flex-direction: column;
    display: flex;

    div.section {
      min-height: 100vh - 7.5vh;

      &#landing {
        display: flex;
        justify-content: center;
        align-items: center;

        #card {
          text-align: center;
          background-color: red;
          width: 40%;
          padding: 1%;
          border-radius: 15px;

          h1, h2 {
            margin: 0;
            color: white;
            font-family: Inter, "sans-serif";
            letter-spacing: 0;
          }

          h1 {
            font-size: 5vw;
            font-weight: 1000;
          }

          h2 {
            font-size: 2.5vw;
            font-weight: 500;
            margin-bottom: 2%;
          }

          #name {
            width: 100%;
            background-color: white;

            span {
              color: black;
              font-size: 10vw;
              font-family: 'Gaegu', cursive;
              font-weight: 700;
              margin: 0;
            }
          }
        }
      }

      &#about {
        background-color: #000000;
        color: white;
        padding: 5% 0 0 10%;

        h1 {
          font-family: "Inter", sans-serif;
          font-weight: 800;
          font-size: 3rem;
        }

        p {
          font-family: "Inter", sans-serif;
          font-size: 1.2rem;
          line-height: 1.5;
          max-width: 50%;

          span, a {
            font-weight: 600;
          }

          a {
            text-decoration: underline;
            color: white;
            transition: .2s;
            &:hover {
              color: red;
            }}
        }
      }
    }
  }

  div.footer {
    background-color: #f1f1f1;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: #545454;

    .socials {
      margin-top: 10px;
      a {
        text-decoration: none;
        color: inherit;
        margin: 5px;
        transition: .2s;

        svg {
          width: 2rem;
          height: 2rem;
        }

        &[data-brand="twitter"] {
          &:hover { color: #1da1f2 }
        }
        &[data-brand="github"] {
          &:hover { color: #333 }
        }
        &[data-brand="linkedin"] {
          &:hover { color: #0077B5 }
        }
      }
    }
  }
}